/* You can add global styles to this file, and also import other style files */

body{
  background-image:url('./assets/bg01.jpg');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
#profp{
  width:50%;
  height: auto;
  border-radius:10px;
}
.card-columns{
  background-color:rgba(0,0,0,0.3);
  padding-left:10px;
  
}
#avatar{
  widows: 10%;
  height:auto;
}